<div>
    <h2 data-translate="ocrDataAdminApp.requestWf.home.title">Request Wfs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="request-wfmySuffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="ocrDataAdminApp.requestWf.home.createLabel">
                        Create new Request Wf
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'ocrDataAdminApp.requestWf.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="ocrDataAdminApp.requestWf.statusId">Status Id</span></th>
                    <th><span data-translate="ocrDataAdminApp.requestWf.createdBy">Created By</span></th>
                    <th><span data-translate="ocrDataAdminApp.requestWf.updatedBy">Updated By</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="requestWf in vm.requestWfs track by requestWf.id">
                    <td><a ui-sref="request-wfmySuffix-detail({id:requestWf.id})">{{requestWf.id}}</a></td>
                    <td>{{requestWf.statusId}}</td>
                    <td>{{requestWf.createdBy}}</td>
                    <td>{{requestWf.updatedBy}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="request-wfmySuffix-detail({id:requestWf.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request-wfmySuffix.edit({id:requestWf.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request-wfmySuffix.delete({id:requestWf.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
