
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySessionWfLabel" data-translate="ocrDataAdminApp.sessionWf.home.createOrEditLabel">Create or edit a Session Wf</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sessionWf.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sessionWf.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrDataAdminApp.sessionWf.statusId" for="field_statusId">Status Id</label>
            <input type="number" class="form-control" name="statusId" id="field_statusId"
                    ng-model="vm.sessionWf.statusId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrDataAdminApp.sessionWf.wfTypeId" for="field_wfTypeId">Wf Type Id</label>
            <input type="number" class="form-control" name="wfTypeId" id="field_wfTypeId"
                    ng-model="vm.sessionWf.wfTypeId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrDataAdminApp.sessionWf.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.sessionWf.createdBy"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrDataAdminApp.sessionWf.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.sessionWf.updatedBy"
                     />
        </div>

        <div class="form-group">
            <label data-translate="ocrDataAdminApp.sessionWf.ocrSession" for="field_ocrSession">Ocr Session</label>
            <select class="form-control" id="field_ocrSession" name="ocrSession" ng-model="vm.sessionWf.ocrSessionId" ng-options="ocrSession.id as ocrSession.id for ocrSession in vm.ocrsessions"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
