<div>
    <h2 data-translate="ocrDataAdminApp.sessionWf.home.title">Session Wfs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="session-wfmySuffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="ocrDataAdminApp.sessionWf.home.createLabel">
                        Create new Session Wf
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'ocrDataAdminApp.sessionWf.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="ocrDataAdminApp.sessionWf.statusId">Status Id</span></th>
                    <th><span data-translate="ocrDataAdminApp.sessionWf.wfTypeId">Wf Type Id</span></th>
                    <th><span data-translate="ocrDataAdminApp.sessionWf.createdBy">Created By</span></th>
                    <th><span data-translate="ocrDataAdminApp.sessionWf.updatedBy">Updated By</span></th>
                    <th><span data-translate="ocrDataAdminApp.sessionWf.ocrSession">Ocr Session</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sessionWf in vm.sessionWfs track by sessionWf.id">
                    <td><a ui-sref="session-wfmySuffix-detail({id:sessionWf.id})">{{sessionWf.id}}</a></td>
                    <td>{{sessionWf.statusId}}</td>
                    <td>{{sessionWf.wfTypeId}}</td>
                    <td>{{sessionWf.createdBy}}</td>
                    <td>{{sessionWf.updatedBy}}</td>
                    <td>
                        <a ui-sref="ocr-sessionmySuffix-detail({id:sessionWf.ocrSessionId})">{{sessionWf.ocrSessionId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="session-wfmySuffix-detail({id:sessionWf.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="session-wfmySuffix.edit({id:sessionWf.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="session-wfmySuffix.delete({id:sessionWf.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
